.search-user-list {
  width: 154px;

  &__item {
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    
    &__name {
      margin: 7px, 0, 0, 7px;
    }
  }
}
