%header
.container
  =link_to 'Chat app', root_path
  %nav
    %ul
      %li<
        =link_to 'Home', root_path
      - if user_signed_in?
        %li<
          =link_to 'ユーザーを探す', users_search_path
        %li.dropdown<
          %ul
            %li<
              =link_to 'プロフィール', user_path(current_user.id)
            %li<
              =link_to 'ログアウト', destroy_user_session_path, method: :delete
      - else
        %li<
          =link_to '新規登録', new_user_registration_path
        %li<
          =link_to 'ログイン', new_user_session_path
