%header.navbar.navbar-fixed-top.navbar-inverse
  .nav.navbar-nav.navbar-left#title
    -if user_signed_in?
      =link_to 'ChatApp', root_path
    -else
      =link_to 'ChatApp', new_user_session_path
  %nav
    %ul.nav.navbar-nav.navbar-right#menu
      -if user_signed_in?
        %li<
          =link_to 'ユーザーを探す', users_search_path
        %li<
          =link_to 'プロフィール', user_path(current_user.id)
        %li<
          =link_to 'ログアウト', destroy_user_session_path, method: :delete
      - else
        %li<
          =link_to '新規登録', new_user_registration_path
        %li<
          =link_to 'ログイン', new_user_session_path
